<div class="video-player">
  <div ng-if="$ctrl.currentVideo" class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src={{'https://www.youtube.com/embed/'+$ctrl.currentVideo.id.videoId+'?autoplay=0'}} allowFullScreen></iframe>
  </div>
  <div ng-if="!$ctrl.currentVideo" class="embed-responsive embed-responsive-16by9">
    Please wait
  </div>
  <div class="video-player-details">
    <h3>{{$ctrl.currentVideo.snippet.title}}</h3>
    <div>{{$ctrl.currentVideo.snippet.description}}</div>
    <pre>{{$ctrl.currentVideo.id.videoId | json}}</pre>
  </div>
</div>
